{% extends "base.html" %}
{% block title %}会員情報入力{% endblock %}
{% block content %}

{% if is_activatable %}
<p>とれわか会員登録の申し込みありがとうございます。</p>
<p>下記の情報を入力すると登録が完了いたします。</p>
<form action="" method="post">{% csrf_token %}
<table>
<tr>
    <th>メールアドレス</th><td>{{ temp_user.email }}</td>
</tr>
{{ form }}
</table>
  <div class="">利用規約テキスト</div>
{% include 'common/form_btn_confirm.html' %}
  <input type="hidden" name="next" value="{{ next }}" />
</form>

{% else %}

<p>認証に失敗しました</p>

{% endif %}

{% endblock %}

{% block footer_scripts %}
{{ block.super }}
{% include 'common/ajaxzip.html' %}
{% include 'common/full2half.html' %}
{% endblock %}
