{% extends "base.html" %}{% load breadcrumb %}
{% block title %}会員情報入力の確認{% endblock %}
{% block breadcrumb_inner %}
	{% breadcrumb '会員情報入力の確認'%}
{% endblock %}
{% block content %}

{% if is_activatable %}
<h1 class="content-title">会員情報入力の確認</h1>
<p>入力内容を確認し、間違いがなかったら送信してください</p>
<div class="content-table request-check">
<form action="" method="post" id="preview-form">{% csrf_token %}
{% for field in form %}{{ field.as_hidden }}{% endfor %}
<table>
<tr>
    <th>メールアドレス</th><td>{{ temp_user.email }}</td>
</tr>
</table>
{% include 'common/form_confirm_table.html'%}

{% with submit_value='登録する'%}
{% include 'common/form_btn_complete.html' %}
{% endwith %}
<input type="hidden" name="next" value="{{ next }}" />
</form>
</div>

{% else %}

<p>認証に失敗しました</p>

{% endif %}

{% endblock %}
