{% extends "base_mypage.html" %}{% load breadcrumb %}
{% block title %}パスワードの変更{% endblock %}
{% block breadcrumb_mypage %}
	{% breadcrumb 'パスワードの変更' %}
{% endblock %}

{% block content %}

<form action="" method="post">{% csrf_token %}
{% if form.errors %}
    <p class="errornote">
    エラーを確認して正しく入力してください
    </p>
{% endif %}
<h1 class="content-title">パスワードの変更</h1>


<p>セキュリティのため、現在のパスワードと新しいパスワードを入力してください。</p>

<div class="content-table">
<table>
<tr>
    <th><label for="id_old_password" class="required">現在のパスワード:</label></th>
    <td>{{ form.old_password.errors }}{{ form.old_password }}</td>
</tr>

<tr>
    <th><label for="id_new_password1" class="required">新しいパスワード:</label></th>
    <td>{{ form.new_password1.errors }}{{ form.new_password1 }}</td>
</tr>

<tr>
    <th><label for="id_new_password2" class="required">新しいパスワード（確認）:</label></th>
    <td>{{ form.new_password2.errors }}{{ form.new_password2 }}</td>
</tr>
</table>
</div>
<p>
    <input type="submit" value="パスワードを変更" class="default" />
</p>

<script type="text/javascript">document.getElementById("id_old_password").focus();</script>

</form>

{% endblock %}
