{% extends "base.html" %}{% load breadcrumb %}
{% block title %}パスワードの再設定{% endblock %}
{% block breadcrumb_mypage %}
	{% breadcrumb 'パスワードの再設定' %}
{% endblock %}
{% block content %}

{% if validlink %}

<h1>新しいパスワードを入力してください</h1>


<form action="" method="post">{% csrf_token %}
{{ form.new_password1.errors }}
<p class="aligned wide"><label for="id_new_password1">新しいパスワード:</label>{{ form.new_password1 }}</p>
{{ form.new_password2.errors }}
<p class="aligned wide"><label for="id_new_password2">新しいパスワード(確認):</label>{{ form.new_password2 }}</p>
<p><input type="submit" value="パスワードの再設定" /></p>
</form>

{% else %}

<h1>パスワードの再設定に失敗しました</h1>

<p>パスワードの再設定のためのリンクが正しくありません。</p>

{% endif %}

{% endblock %}
