{% extends "base.html" %}
{% block title %}とれわか会員登録{% endblock %}

{% block breadcrumb_inner %}{{ block.super}}
	{% breadcrumb 'とれわか会員登録' %}
{% endblock %}

{% block content %}
<h1 class="content-title">とれわか会員登録</h1>
<p>下記のフォームにメールアドレスとパスワードを入力してください。確認のメールが送信されます。</p>
<div class="content-table member-form">
<form method="post" action="">{% csrf_token %}
	<table>
	{{ form }}
	</table>
	{% include 'common/form_btn_confirm.html' %}
</form>
</div>
{% endblock %}

{% block footer_scripts %}
{{ block.super }}
{% include 'common/honeypod.html' %}
{% endblock %}
