{% extends 'base.html'%}
{% block title %}お問い合わせ内容の確認{% endblock %}
{% block content %}
<h1>お問い合わせ内容の確認</h1>
<form action="" method="post">{% csrf_token %}
{% for field in form %}{{ field.as_hidden }}{% endfor %}
<table>
{% for field in form %}
    {% if field.auto_id != 'id_website' %}
    <tr>
        <th>{{ field.label }}</th><td>
        {% if field.field.choices %}
            {% for key,val in field.field.choices %}
                {% if key == field.value %}
                {{ val }}
                {% endif %}
            {% endfor %}
        {% else %}
            {% if field.value == True %}
            はい
            {% else %}
            {{ field.value }}
            {% endif %}
        {% endif%}
        </td>
    </tr>
    {% endif%}
{% endfor %}
</table>
{% with submit_value='送信する' back_value='修正する'%}
{% include 'common/form_btn_complete.html' %}
{% endwith %}
</form>

{% endblock %}
