{% extends 'base.html'%}
{% block title %}ブログ{% endblock %}
{% block breadcrumb_inner %}
	{% breadcrumb_url 'ブログ' 'post_index' %}
{% endblock %}

{% block content %}

<h1 class="content-title">お知らせ一覧</h1>
{% for post in posts %}
<div>
    <h2 class="content-title-h2"><a href="{% url 'post_detail' slug=post.slug %}">{{ post.title }}</a></h2>
    <div><time class="content-date" datetime="{{ post.update_date|date:'Y-m-d'}}" pubdate>{{ post.update_date }}</time></div>
    <div>{{ post.content|striptags|truncatechars:200 }}</div>
</div>
{% empty %}
見つかりません
{% endfor %}

{% include 'common/pagination.html' with items=posts items_total=count %}

{% endblock %}
