<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>{% block title %}とれわか！{% endblock title%}</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <!--<link rel="stylesheet" href="css/XXXX.css" media="all">-->
    {% block head_after_link %}{% endblock %}
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <!--<script src="js/XXXX.js"></script>-->
    {% block head_after_script %}{% endblock%}
    {% block head_footer %}{% endblock%}
</head>
<body>
{% block header %}
{% if user.is_authenticated %}
    ログイン中:{{ user.email }} 
    <a href="{% url 'mypage_home' %}">マイページ</a>
    <a href="{% url 'auth_logout' %}">ログアウト</a>
    {% if user.customer_company %}
        <p>掲載企業：{{ user.customer_company }}（<a href="{% url 'mypage_edit_company'%}">編集</a>）</p>
    {% endif%}
{% else %}
    <a href="{% url 'auth_login' %}">ログイン</a>
{% endif%}

<ul>
    <li><a href="{% url 'home'%}">HOME</a></li>
    <li><a href="{% url 'document_index'%}">資料一覧</a></li>
    <li><a href="{% url 'contact'%}">お問い合わせ</a></li>
    <li><a href="{% url 'admin:index' %}">管理画面</a></li>
</ul>
{% endblock header %}


{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

{% block content_before %}{% endblock%}
{% block content %}{% endblock%}
{% block content_after %}{% endblock%}

{% block sidebar %}{% endblock sidebar %}

{% block footer %}{% endblock footer %}

{% block footer_scripts %}{% endblock footer_scripts %}
</body>
</html>
