<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>{% block title %}とれわか！{% endblock title%}</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <!--<link rel="stylesheet" href="css/XXXX.css" media="all">-->
    {% block after_link %}{% endblock %}
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <!--<script src="js/XXXX.js"></script>-->
    {% block after_script %}{% endblock after_script %}
    {% block head_footer %}{% endblock head_footer %}
</head>
<body>
{% block header %}{% endblock %}
{% if user.is_authenticated %}
    ログイン中:{{ user.email }} 
    <a href="{% url 'mypage_home' %}">マイページ</a>
    <a href="{% url 'auth_logout' %}">ログアウト</a>
{% else %}
    <a href="{% url 'auth_login' %}">ログイン</a>
{% endif%}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

{% block content_header %}{% endblock content_header %}
{% block content %}{% endblock content %}
{% block content_footer %}{% endblock content_footer%}

{% block sidebar %}{% endblock sidebar %}

{% block footer %}{% endblock footer %}

{% block footer_scripts %}{% endblock footer_scripts %}
</body>
</html>
