{% extends 'base.html'%}
{% block sidebar %}
<h3>メニュー</h3>
<ul>
    <li><a href="{% url "mypage_edit_profile"%}">登録情報の変更</a></li>
    <li><a href="{% url "auth_password_change"%}">パスワードの変更</a></li>
    <li><a href="{% url "registration_change_email"%}">メールアドレスの変更</a></li>
</ul>
{% if user.customer_company %}
<h3>掲載企業メニュー</h3>
<ul>
    <li><a href="{% url "mypage_edit_company"%}">企業情報の編集</a></li>
    <li><h4>資料</h4>
        <ul>
            <li><a href="{% url "document_add"%}">新規追加</a></li>
            <li><a href="{% url "document_edit_index"%}">編集</a></li>
            <li><a href="{% url "document_leads_index"%}">リード情報</a></li>
        </ul>
    </li>
    <li><h4>セミナー</h4></li>
</ul>
{% endif%}
{% endblock %}
