{% extends 'base_mypage.html'%}{% load breadcrumb %}
{%block head_after_link %}
<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1/themes/flick/jquery-ui.css" />
{%endblock%}
{% block title %}リード情報の取得{% endblock%}

{% block breadcrumb_mypage %}
	{% breadcrumb '管理メニュー' %}
	{% breadcrumb 'リード情報の取得' %}
{% endblock %}

{% block content %}
<h1 class="content-title">リード情報の取得</h1>
<div class="leads-form">
<form method='get' action=''>
<input type="hidden" value="1" name="search">
{{form.start_date}} ～ {{form.end_date}}
{{form.start_date.errors}}
{{form.end_date.errors}}
<input type="submit" value="検索">
</form>
</div>
<div class="data-table">
<table>
{% if not companies %}
該当するログはありません
{% endif %}
	<tr>
		<th>会社名</th>
		<th>資料</th>
		<th>セミナー</th>
	</tr>
{% for com in companies %}
    <tr>
        <td>{{ com }}</td>
        <td>
        	<a href="{% url 'operation_download_leads' log_type='document' company_id=com.pk %}{% if request.GET.urlencode %}?{{ request.GET.urlencode }}{% endif %}">CSV</a> /
        	<a href="{% url 'operation_show_leads' log_type='document' company_id=com.pk %}{% if request.GET.urlencode %}?{{ request.GET.urlencode }}{% endif %}">表示</a>
        </td>
        <td>
        	<a href="{% url 'operation_download_leads' log_type='seminar' company_id=com.pk %}{% if request.GET.urlencode %}?{{ request.GET.urlencode }}{% endif %}">CSV</a> /
        	<a href="{% url 'operation_show_leads' log_type='seminar' company_id=com.pk %}{% if request.GET.urlencode %}?{{ request.GET.urlencode }}{% endif %}">表示</a>
        </td>
    </tr>
{% endfor %}
</table>
</div>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1/i18n/jquery.ui.datepicker-ja.min.js"></script>
<script>
$(function(){
    $('#id_start_date, #id_end_date').datepicker({
        firstDay: 1,
        minDate: new Date(2013, 4-1, 1),
        maxDate: 0
    });
});
</script>
{% endblock %}
