{% extends 'base_mypage.html'%}{% load breadcrumb %}
{% load static %}

{% block title %}
{% if action == 'add' %}
	セミナーの新規追加
{% else %}
	{{ seminar.title }}の編集
{% endif %}
{% endblock %}

{% block breadcrumb_mypage %}
	{% if action == 'add' %}
		{% breadcrumb 'セミナーの新規追加' %}
	{% else %}
		{% breadcrumb_url 'セミナーの編集' 'seminar_edit_index'  %}
		{% breadcrumb seminar.title  %}
	{% endif %}
{% endblock %}

{%block head_after_link %}
<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/flick/jquery-ui.css" />
{%endblock%}

{% block content %}
{% if action == 'add' %}
	<h1 class="content-title">セミナーの新規追加</h1>
{% else %}
	<h1 class="content-title">「{{ seminar.title }}」の編集</h1>
{% endif %}

<div class="content-table seminar-form">
	<form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
	<table>
	{{ form }}
	</table>
	{% with submit_value='保存する'%}
	{% include 'common/form_btn_confirm.html' %}
	{% endwith %}
	</form>
</div><!-- .content-table -->

{% if action == 'edit'%}
<p class="edit-preview"><a href="{% url 'seminar_preview' seminar_id=seminar.id%}" target="_blank">プレビュー</a></p>
{% endif%}
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/i18n/jquery.ui.datepicker-ja.min.js"></script>
<!-- http://trentrichardson.com/examples/timepicker/ -->
<script src="{% static "js/jquery-ui-timepicker-addon.js" %}"></script>
<script>
$(function(){
    $('#id_limit_datetime').datetimepicker({
        dateFormat: 'yy-mm-dd',
        timeFormat: 'HH:mm:ss',
        pickerTimeFormat: 'HH:mm:ss',
        closeText:'閉じる',
        currentText:'現在',
        timeText:'時刻',
        hourText:'時',
        minuteText:'分'
    });
    $('#id_exhibition_date, #id_close_date').datepicker({
        dateFormat: 'yy-mm-dd',
        firstDay: 1,
        minDate: 0,
    });
});
</script>

{% endblock %}


