{% extends 'base_mypage.html'%}{% load breadcrumb %}
{% block title %}セミナーの編集{% endblock %}
{% block breadcrumb_mypage %}
	{% breadcrumb 'セミナーの編集' %}
{% endblock %}
{% block content %}
<h1 class="content-title">セミナーの編集</h1>
{% if seminars %}
	<div class="data-table">
	<table>
		<tr>
			<th>タイトル</th>
			<th>更新日</th>
			<th>申し込み数</th>
			<th>受付状態</th>
			<th>公開状態</th>
			<th>プレビュー</th>
		</tr>
		{% for semi in seminars %}
		<tr>
			<td><a href="{% url 'seminar_edit' seminar_id=semi.pk %}">{{semi.title}}</a></td>
			<td>{{ semi.update_date }}</td>
			<td class="num">{{ semi.entry_count }} / {{ semi.limit_number }}</td>
			<td>{% if semi.is_open %}受付中{% else %}受付終了{% endif %}</td>
			<td>{{ semi.get_status_display }}</td>
			<td><a href="{% url 'seminar_preview' seminar_id=semi.pk %}" target="_blank">表示</a></td>
		</tr>
		{% endfor %}
	</table>
	</div>
{% else %}
    <p>まだ作成したセミナーがありません</p>
{% endif %}
{% endblock %}
