{% extends 'base.html'%}{% load breadcrumb %}

{% block title %}セミナー申し込み完了 | {{ seminar.title }}{% endblock %}
{% block breadcrumb_inner %}
	{% breadcrumb_url 'セミナー' 'seminar_index'%}
	{% breadcrumb_url seminar.title 'seminar_detail' seminar_id=seminar.id %}
	{% breadcrumb 'セミナー申し込み完了'%}
{% endblock %}
{% block content %}
<h1 class="content-title">申し込みありがとうございます</h1>

<p>申し込みしたセミナー {{ seminar.title }}</p>

<p>過去に参加したセミナーや、登録情報の変更は<a href="{% url 'mypage_home'%}">マイページ</a>から行えます。</p>

{% endblock %}
