{% extends 'base.html'%}
{% block content %}

<h1>セミナー</h1>
{% for semi in seminars %}
<div>
    <h2><a href="{% url 'seminar_detail' seminar_id=semi.id %}">{{ semi.title }}</a></h2>
    <div>{{ semi.catch }}</div>
    <div><a href="{% url 'seminar_entry' seminar_id=semi.id %}">申し込む</a></div>
</div>
{% endfor %}
<div>全{{ count|intcomma }}件</div>
<div class="pagination">
    <span class="step-links">
        {% if seminars.has_previous %}
            <a href="{% url 'seminar_paged' page=seminars.previous_page_number %}">&laquo前のページ</a>
        {% endif %}

        <span class="current">
            {{ seminars.number }} / {{ seminars.paginator.num_pages }}ページ
        </span>

        {% if seminars.has_next %}
            <a href="{% url 'seminar_paged' page=seminars.next_page_number %}">次のページ&raquo</a>
        {% endif %}
    </span>
</div>

{% endblock %}
