{% extends 'base.html'%}{% load breadcrumb %}
{% block title %}最新セミナー一覧{% endblock %}
{% block breadcrumb_inner %}
	{% breadcrumb_url 'セミナー' 'seminar_index'%}
	{% if seminars.number > 1 %}
	{% breadcrumb seminars.number %}ページ
	{% endif %}
{% endblock %}

{% block content %}
<h1 class="content-title">セミナー一覧</h1>

{% include 'common/pager_info.html' with items=seminars pagenation_url='seminar_paged'%}

<div class="bottom-list">
{% for item in seminars %}
{% include 'seminars/list_item.html'%}
{% empty %}
<p>セミナーがありません</p>
{% endfor %}
</div><!-- .bottom-list -->

{% include 'common/pager.html' with items=seminars pagenation_url='seminar_paged' %}



{% endblock %}