{% load static %}
<article>
	<a href="{{ item.get_absolute_url }}">{% include 'common/thumbnail/medium.html' with img_file=item.thumb_file alt=item.title%}</a>
	<div class="text">
		<h1 class="article-title"><a href="{{ item.get_absolute_url }}">{{ item.title }}</a></h1>
		<p>
			{{ item.catch }}
		</p>
		<footer>
			<ul>
				<li>開催日：{{ item.exhibition_date }}</li>
				{% if item.close_date %}
				～ {{item.close_date}}
				{% endif %}
			</ul>
			<ul>
				<li>企業名：<a href="{{item.company.get_absolute_url}}">{{ item.company }}</a></li>
			</ul>
			<ul>
				<li>カテゴリ：{{ item.get_category_display }}</li>
			</ul>
			<div class="article-more"><a href="{{ item.get_absolute_url }}"><img src="{% static 'images/list-more-red.png'%}" alt="詳細を見る" width="150" height="35"></a></div>
		</footer>
	</div><!-- .text -->
</article>