{% extends 'base_mypage.html'%}{% load breadcrumb %}
{% block title %}セミナー申し込み履歴{% endblock %}
{% block breadcrumb_mypage %}
	{% breadcrumb 'セミナー申し込み履歴' %}
{% endblock %}
{% block content %}
<h1 class="content-title">セミナー申し込み履歴</h1>
{% if histories %}
    <ul>
    {% for history in histories %}
        <li>
            {{history.add_date}}　<a href="{% url 'seminar_detail' seminar_id=history.seminar.id %}">{{history.seminar.title}}</a>
        </li>
    {% endfor %}
    </ul>
{% else %}
    まだ申し込み履歴はありません
{% endif %}
{% endblock %}
