{% extends 'base_mypage.html'%}{% load breadcrumb %}
{% block title %}
{% if action == 'add' %}
	資料の新規追加
{% else %}
	{{document.title}}の編集
{% endif %}
{% endblock %}

{% block breadcrumb_mypage %}
	{% if action == 'add' %}
		{% breadcrumb '資料の新規追加' %}
	{% else %}
		{% breadcrumb_url '資料の編集' 'document_edit_index'  %}
		{% breadcrumb document.title  %}
	{% endif %}
{% endblock %}

{% block content %}

{% if action == 'add' %}
<h1 class="content-title">資料の新規追加</h1>
{% else %}
<h1 class="content-title">{{document.title}}の編集</h1>
{% endif %}

<div class="content-table document-form">
	<form action="" method="post" enctype="multipart/form-data" class="add_edit_form">{% csrf_token %}
	<table>
	{{ form }}
	</table>
	{% with submit_value='保存する'%}
	{% include 'common/form_btn_confirm.html' %}
	{% endwith %}
	</form>
</div><!-- .content-table -->

<script>
$(function(){
{% if action == 'add' %}
	$('#id_status option[value=2]').remove();
{% else %}
	$('.add_edit_form').submit(function() {
	if( $(this).find('#id_status').val() == 2 ){
		var c = confirm("この資料を削除します。よろしいですか？");
		return c;
	}
	return true;
});
{% endif %}
});
</script>

{% if action == 'edit'%}
<p class="edit-preview"><a href="{% url 'document_preview' document_id=document.id%}" target="_blank">プレビュー</a></p>
{% endif%}

{% endblock %}
