{% extends 'base.html'%}
{% block title %}{{ document.title }}{% endblock %}
{% block breadcrumb_inner %}
	{% breadcrumb_url '資料' 'document_index'%}
	{% breadcrumb document.title %}
{% endblock %}

{% block content %}
{%if preview == True %}
    <div>プレビュー中です</div>
    {%if document.status != 1 %}
        <div>現在この資料は公開されていません。掲載企業の担当者様のみご確認頂けます。</div>
    {% endif %}
    {% if request.user.is_superuser %}
        <div>スーパーユーザー権限で閲覧中です</div>
    {% endif%}
{% endif %}


<h1 class="content-title">{{ document.title }}</h1>

<div class="detail-thumbnail">
{% include 'common/thumbnail/large.html' with img_file=document.thumb_file alt=document.title%}
</div>


<p class="detail-button">
{% ifequal document.download_status 1 %}
	<a href="{{ document.get_download_url }}" class="download">&gt;&gt;ダウンロード</a>
{% else%}
現在ダウンロードできません。
{% endifequal %}
</p><!-- .detail-button -->


<h2 class="content-title-h2">概要</h2>

	{{ document.catch|linebreaks }}

{% if document.detail %}
<h3 class="content-title-h2">詳細</h3>

	{{ document.detail|linebreaks }}
{% endif %}

{% if document.results %}
<h3 class="content-title-h3">実績</h3>

	{{ document.results|linebreaks }}

{% endif %}
<div class="content-table">
<table>
	<tr><th>サービスカテゴリ</th><td>{{ document.get_category_display }}</td></tr>
	<tr><th>対象業種</th><td>{{ document.get_target_type_display }}</td></tr>
	<tr><th>対象会社規模</th><td>{{ document.get_target_size_display }}</td></tr>
	<tr><th>更新日</th><td>{{ document.update_date }}</td></tr>
</table>
</div><!-- .content-table -->

<p class="detail-button">
{% ifequal document.download_status 1 %}
	<a href="{{ document.get_download_url }}" class="download">&gt;&gt;ダウンロード</a>
{% else%}
現在ダウンロードできません。
{% endifequal %}
</p><!-- .detail-button -->

{% endblock %}