{% extends 'base.html'%}{% load breadcrumb %}
{% block title %}{{ document.title }}のダウンロード{% endblock %}
{% block breadcrumb_inner %}
	{% breadcrumb_url '資料' 'document_index'%}
	{% breadcrumb_url document.title 'document_detail' document_id=document.id %}
	{% breadcrumb 'ダウンロード'%}
{% endblock %}

{% block content %}

<h1 class="content-title">資料「{{document.title}}」のダウンロード</h1>
<div class="content-table">

{% include 'common/profile_confirm_table.html'%}

<div class="member-edit-link"><a href="{% url 'mypage_edit_profile'%}?next={{request.path}}">登録情報の変更はこちら</a></div>
</div><!-- .content-table -->

<div class="content-table request-form">
	<form action="" method="post">{% csrf_token %}
	<table>
	{{ form }}
	</table>
	{% include 'common/form_btn_confirm.html' %}
	</p>
	</form>
</div><!-- .content-table.request-form -->


{% endblock %}
