{% extends 'base.html'%}
{% block title %}{{ document.title }}{% endblock %}

{% block content %}
<h1>送信内容の確認　{{ document.title }}</h1>

<table>
{% for field in user_form %}
	<tr>
		<th>{{ field.label }}</th><td>{{ field.value }}</td>
	</tr>
{% endfor %}

{% for field in user_profile_form %}
    <tr>
        <th>{{ field.label }}</th><td>
        {% if field.field.choices %}
            {% for key,val in field.field.choices %}
                {% if key|slugify == field.value|slugify %}
                {{ val }}
                {% endif %}
            {% endfor %}
        {% else %}
            {% if field.value == True %}
            はい
            {% else %}
            {{ field.value }}
            {% endif %}
        {% endif%}
        </td>
    </tr>
{% endfor %}
</table>
<form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
{% for field in form %}{{ field.as_hidden }}{% endfor %}
<table>
{% for field in form %}
    <tr>
        <th>{{ field.label }}</th><td>
        {% if field.field.choices %}
            {% for key,val in field.field.choices %}
                {% if key|slugify == field.value|slugify %}
                {{ val }}
                {% endif %}
            {% endfor %}
        {% else %}
            {% if field.value == True %}
            はい
            {% else %}
            {{ field.value }}
            {% endif %}
        {% endif%}
        </td>
    </tr>
{% endfor %}
</table>
<p>
<input type="hidden" name="complete" value="1" />
<input type="submit" value="修正する" id="back-submit" />
<input type="submit" value="資料をダウンロード">
</p>
<script>
    $('#back-submit').click(function(){
        $('input[name=complete]').val(0);
        return true;
    });
</script>
</form>
{% endblock %}
