{% extends 'base_mypage.html'%}
{%block head_after_link %}
<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/flick/jquery-ui.css" />
{%endblock%}
{% block content %}
<h1>リード情報の確認</h1>
<div>
<form method='get' action=''>
<input type="hidden" value="1" name="search">
{{form.start_date}} ～ {{form.end_date}}
{{form.start_date.errors}}
{{form.end_date.errors}}
<input type="submit" value="検索">
</form>
</div>

<a href="{% url 'document_leads_csv'%}?{{ request.GET.urlencode }}">この条件でCSVダウンロード</a>
<table>
{% if not leads %}
該当するログはありません
{% endif %} 
{% for lead in leads %}
    <tr>
        <td>{{ lead.download_date }}</td>
        <td>{{ lead.stage }}</td>
        <td>{{ lead.company_name }}</td>
        <td>{{ lead.document_title }}</td>
        <td>{{ lead.discretion }}</td>
        <td>{{ lead.business_type }}</td>
        <td>{{ lead.position }}</td>
        <td>{{ lead.job_content }}</td>
        <td>{{ lead.firm_size }}</td>
    </tr>
{% endfor %}
</table>

<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/i18n/jquery.ui.datepicker-ja.min.js"></script>
<script>
$(function(){
    $('#id_start_date,#id_end_date').datepicker({
        firstDay: 1,
        //showButtonPanel: true,
        //changeYear: true,
        //changeMonth: true,
        minDate: new Date(2013, 4-1, 1),
        maxDate: 0
    });
});
</script>
{% endblock %}
