{% extends 'base.html'%}
{% block title %}{{ document.title }}{% endblock %}

{% block content %}
<h1>{{ document.title }}</h1>

<table>
{% for field in user_form %}
	<tr>
		<th>{{ field.label }}</th><td>{{ field.value }}</td>
	</tr>
{% endfor %}

{% for field in user_profile_form %}
	<tr>
		<th>{{ field.label }}</th><td>
		{% if field.field.choices %}
			{% for key,val in field.field.choices %}
				{% if key == field.value %}
				{{ val }}
				{% endif %}
			{% endfor %}
		{% else %}
			{{ field.value }}
		{% endif%}
		</td>
	</tr>
{% endfor %}
</table>
<a href="{% url 'mypage_edit_profile'%}?next={{request.path}}">登録情報の変更はこちら</a>
<form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
<table>
{{ form }}
</table>
<p>
<input type="submit" value="資料をダウンロード">
</p>
</form>
{% endblock %}
