{% extends 'base_mypage.html'%}{% load breadcrumb %}
{% block title %}資料の編集{% endblock %}
{% block breadcrumb_mypage %}
	{% breadcrumb '資料の編集' %}
{% endblock %}
{% block content %}
<h1 class="content-title">資料の編集</h1>
{% if documents %}
	<div class="data-table">
	<table>
		<tr>
			<th>タイトル</th>
			<th>作成日</th>
			<th>更新日</th>
			<th>ダウンロード数</th>
			<th>公開状態</th>
			<th>プレビュー</th>
		</tr>
		{% for doc in documents %}
		<tr>
			<td><a href="{% url 'document_edit' document_id=doc.pk %}">{{doc.title}}</a></td>
			<td>{{ doc.add_date }}</td>
			<td>{{ doc.update_date }}</td>
			<td class="num">{{ doc.download_count }}</td>
			<td>{{ doc.get_status_display }}</td>
			<td><a href="{% url 'document_preview' document_id=doc.pk %}" target="_blank">表示</a></td>
		</tr>
		{% endfor %}
	</table>
	</div>
{% else %}
    <p>まだ作成した資料がありません</p>
{% endif %}
{% endblock %}
