{% extends 'base.html'%}{% load breadcrumb %}
{% block title %}最新資料一覧{% endblock %}
{% block breadcrumb_inner %}
	{% breadcrumb_url '資料' 'document_index'%}
	{% if documents.number > 1 %}
	{% breadcrumb documents.number %}ページ
	{% endif %}
{% endblock %}

{% block content %}

<h1 class="content-title">最新資料一覧</h1>

{% with items=documents pagenation_url='document_paged' %}
{% include 'common/pager_info.html' %}
{% endwith %}

<div class="bottom-list">
{% for item in documents %}
{% include 'documents/list_item.html'%}
{% endfor %}
</div><!-- .bottom-list -->

{% with items=documents pagenation_url='document_paged' %}
{% include 'common/pager.html' %}
{% endwith %}


{% endblock %}