{% extends 'base.html'%}{% load breadcrumb %}
{% load search_extra %}
{% block title %}{% if request.GET.keyword %}{{request.GET.keyword}} - {% endif%}キーワード検索{% endblock %}
{% block breadcrumb_inner %}
	{% breadcrumb_url 'キーワード検索' 'search_index'%}
	{% if request.GET.keyword %}
		{% breadcrumb request.GET.keyword %}
	{% endif %}
	{% if results.number > 1 %}
		{% breadcrumb results.number %}ページ
	{% endif %}
{% endblock %}

{% block content %}
<h1 class="content-title">キーワード検索{% if request.GET.keyword %}「{{request.GET.keyword}}」{% endif%}</h1>
<form action="" method="get">
<p>{{ form.keyword }}
<input type="submit" value="検索"></p>
</form>
{% include 'common/pager_info.html' with items=results%}
{% include 'common/pagination.html' with items=results items_total=count %}

{% if results %}
<div class="bottom-list">
{% for item in results %}

	{%if item|to_class_name == 'Document'%}
		{% include 'documents/list_item.html'%}
	{% elif item|to_class_name == 'Seminar'%}
		{% include 'seminars/list_item.html'%}
	{% endif%}

{% endfor %}
</div><!-- .bottom-list -->

{% else %}
	{% if request.GET.keyword %}
	<p>ご指定のキーワードでは見つかりませんでした</p>
	{% endif%}
{% endif %}
{% include 'common/pager_info.html' with items=results%}
{% include 'common/pagination.html' with items=results items_total=count %}

{% endblock %}