{% extends 'base.html'%}{% load breadcrumb %}
{% block title %}掲載のお申込み{% endblock %}
{% block breadcrumb_inner %}
	{% breadcrumb '掲載のお申込み'%}
{% endblock %}

{% block content %}
<h1 class="content-title">掲載のお申込み</h1>
<p>とれわかへの掲載をご希望の方は下記フォームに必要事項を記入の上、ご送信ください。</p>
<div class="content-table">
	<form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
	<table>
	{{ form }}
	</table>
	<p>
	<input type="submit" value="保存する">
	</p>
	</form>
</div><!-- .content-table -->
{% endblock %}

{% block footer_scripts %}
{{ block.super }}
{% include 'common/ajaxzip.html' %}
{% include 'common/full2half.html' %}
{% include 'common/honeypod.html' %}
{% endblock %}

