{% extends 'base.html'%}{% load breadcrumb %}{% load cache %}
{% block title %}{{ company.name}} - 掲載企業詳細{% endblock %}
{% block breadcrumb_inner %}
	{% breadcrumb_url '掲載企業一覧' 'company_index'%}
	{% breadcrumb company.name %}
{% endblock %}
{% block content %}
{% cache 300 company_detail company.pk %}
<h1 class="content-title">{{ company.name}}</h1>

<h2 class="content-title-h3">企業情報</h2>
<div class="detail-thumbnail">
{% include 'common/thumbnail/large.html' with img_file=company.logo_file alt=company.name %}
</div>
<div class="content-table narrow">
	<table>
		<tr>
			<th>企業名</th>
			<td>{{ company.name }}</td>
		</tr>
		<tr>
			<th>企業名（フリガナ）</th>
			<td>{{ company.kana }}</td>
		</tr>
		<tr>
			<th>業種</th>
			<td>{{ company.get_business_type_display }}</td>
		</tr>
		<tr>
			<th>電話番号</th>
			<td>{{ company.tel }}</td>
		</tr>
		<tr>
			<th>FAX</th>
			<td>{{ company.fax }}</td>
		</tr>
		<tr>
			<th>郵便番号</th>
			<td>{{ company.post_number }}</td>
		</tr>
		<tr>
			<th>住所</th>
			<td>{{ company.address }}</td>
		</tr>
		<tr>
			<th>ホームページURL</th>
			<td><a href="{{ company.site_url }}" target="_blank">{{ company.site_url }}</a></td>
		</tr>
		<tr>
			<th>代表メールアドレス</th>
			<td>{{ company.email }}</td>
		</tr>
		<tr>
			<th>代表者名</th>
			<td>{{ company.representative }}</td>
		</tr>
		<tr>
			<th>設立</th>
			<td>{{ company.foundation_date }}</td>
		</tr>
		<tr>
			<th>決算月</th>
			<td>{{ company.account_closing }}</td>
		</tr>
		<tr>
			<th>資本金</th>
			<td>{{ company.capital }}</td>
		</tr>
		<tr>
			<th>従業員数</th>
			<td>{{ company.employee_number }}</td>
		</tr>
		<tr>
			<th>年商</th>
			<td>{{ company.yearly_sales }}</td>
		</tr>
		{% if company.listing %}
		<tr>
			<th>上場</th>
			<td>{{ company.listing }}</td>
		</tr>
		{% endif %}
	</table>
</div>

<div class="list-310-wrapper">
{% if documents %}
<div class="list-310 left">
	<h2 class="list-title-310"><span class="icon-data"></span>{{ company.name}}の資料</h2>
	{% for item in documents %}
	{% include 'documents/list_item_half.html'%}
	{% endfor %}
</div><!-- .list-310 -->
{% endif %}

{% if seminars %}
<div class="list-310">
	<h2 class="list-title-310"><span class="icon-seminar"></span>{{ company.name}}のセミナー</h2>
	{% for item in seminars %}
	{% include 'seminars/list_item_half.html'%}
	{% endfor %}
</div><!-- .list-310 -->
{% endif %}

</div><!-- .list-310-wrapper -->

{% endcache %}
{% endblock %}

