{% extends 'base_mypage.html'%}{% load breadcrumb %}
{% block title %}企業情報の編集{% endblock %}
{% block breadcrumb_mypage %}
	{% breadcrumb '企業情報の編集' %}
{% endblock %}

{% block content %}
<h1 class="content-title">企業情報の編集</h1>
<div class="content-table">
	<form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
	<table>
	{{ form }}
	</table>
	<div class="form-btn-set">
	<input type="submit" value="保存する" class="image-button save">
	</div>
	</form>
</div><!-- .content-table -->
<p><a href="{{ company.get_absolute_url }}" target="_blank">&raquo;プレビュー</a></p>
{% endblock %}

{% block footer_scripts %}
{{ block.super }}
{% include 'common/ajaxzip.html' %}
{% include 'common/full2half.html' %}
{% endblock %}

