{% extends 'base_mypage.html'%}{% load breadcrumb %}
{% block title %}登録情報の編集{% endblock %}
{% block breadcrumb_mypage %}
	{% breadcrumb '登録情報の編集' %}
{% endblock %}

{% block content %}
{% if request.session.next %}<p><a href="{{ request.session.next }}">&laquo;ご利用中のページへ戻る</a></p>{% endif %}
<h1 class="content-title">登録情報の編集</h1>
<div class="content-table">
	<form action="" method="post">{% csrf_token %}
		<table>
			{{ form }}
		</table>
		<div class="form-btn-set">
			<input type="submit" value="保存する" class="image-button save">
		</div>
	</form>
</div><!-- .content-table.member-form -->
{% if request.session.next %}<p><a href="{{ request.session.next }}">&laquo;ご利用中のページへ戻る</a></p>{% endif %}

{% endblock %}

{% block footer_scripts %}
{{ block.super }}
{% include 'common/ajaxzip.html' %}
{% include 'common/full2half.html' %}
{% endblock %}
