{% extends 'base.html'%}
{% block content %}
<h1>マイページ</h1>
<ul>
    <li><a href="{% url "mypage_edit_profile"%}">登録情報の変更</a></li>
    <li><a href="{% url "auth_password_change"%}">パスワードの変更</a></li>
    <li><a href="{% url "registration_change_email"%}">メールアドレスの変更</a></li>
</ul>
{% if user.customer_company %}
<ul>
    <li><a href="{% url "mypage_edit_company"%}">企業情報の編集</a></li>
    <li><a href="{% url "document_add"%}">掲載資料の新規作成</a></li>
    <li><a href="{% url "document_edit_index"%}">掲載資料の編集</a></li>
</ul>
{% endif%}
{% endblock %}
