{% load static %}{% load cache %}<div id="side">
		<div class="side-searchbox">
			<form method="get" action="{% url 'search_index'%}">
				<h2 class="side-searchbox-title">キーワード検索</h2>
				{% load search_extra %}{% search_form %}
				<!--<input type="text" name="" value="" placeholder="検索ワードを入力してください">-->
				<input type="image" src="{% static "images/side-searchbox-submit.png"%}" width="55" height="30"  name="" alt="検索">
				{% comment %}
				<div class="side-searchbox-radio">
					<label for="side-searchbox-data"><input type="radio" name="type" value="document" id="side-searchbox-data">資料</label>
					<label for="side-searchbox-seminar"><input type="radio" name="type" value="seminar" id="side-searchbox-seminar">セミナー</label>
				</div>--><!-- .side-searchbox-radio -->
				{% endcomment %}
			</form>
		</div><!-- .side-searchbox -->
		{% comment %}
		<div class="side-keywords">
			<h2 class="side-keywords-title">人気キーワード</h2>
			<a href="#">キーワード</a>　<a href="#">キーワード</a>　<a href="#">キーワード</a>
		</div><!-- .side-keywords -->
		{% endcomment %}

		{% load recent_checked_extra %}
		{% show_recent_checked request%}

		{% cache 300 sidebar_flatpage %}
		{% load flatpages_extra %}
		{% show_flatpage_sidebar url='/infomation/'%}
		{% endcache %}

		{% cache 300 sidebar_posts %}
		{% load blog_extra %}
		{% show_posts limit=5 %}
		{% endcache %}

	</div><!-- #side -->